@import '../assets/common.scss';

.project-page {
	height: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 75px auto;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
  

	.grid-container {
    margin: 100px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
    
		section:first-of-type {
			grid-column: span 2;
		}

		h1 {
			font-size: 6rem;
      margin-bottom: 50px;
		}

    h2 {
			font-size: 3.4rem;
		}

		p {
			font-size: 1.8rem;
      max-width: 660px;
      margin-bottom: 16px;
      span {
        font-weight: 700;
        color: $text-color;
      }
		}
	}

	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
