/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  /* height: 100%; */
  font-family: "Sora", sans-serif;
  font-size: 62.5%;
  color: #F5F5F5;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/

p {
  /* Equivalent to 18px */
  font-size: 1.8rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background:
  radial-gradient(
    110% 146% at 86% -17%,
    rgba(22, 14, 113, 1) 0%,
    rgba(19, 13, 92, 0.26) 55%,
    rgba(90, 35, 248, 0) 90%
  ),
  linear-gradient(
    44deg,
    rgba(37, 168, 249, 0) 2%,
    rgba(106, 103, 227, 0) 87%
  ),
  radial-gradient(
    102% 103% at 21% 24%,
    rgba(121, 54, 174, 1) 0%,
    rgba(121, 54, 174, 0) 100%
  ),
  radial-gradient(
    94.51% 124.88% at 96% 94.43%,
    rgba(65, 246, 255, 0.219) 0%,
    rgba(131, 218, 255, 0.418) 32%,
    rgba(99, 175, 240, 0.4) 64%,
    rgba(43, 90, 211, 0) 100%
  ),
  linear-gradient(
    313.04deg,
    rgba(52, 29, 101, 1) 1%,
    rgba(96, 74, 234, 1) 100%
  );
  }
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}