@import '../assets/common.scss';
.projects {
    margin: 100px 0;
    h1{
        font-size: 4rem;
    }

    p {
        font-size: 1.8rem;
        margin: 50px 0;
        max-width: 660px;

    }
    
}